@font-face
{
    font-family: siteFont;
    src: url("academy/fonts/Tahoma.ttf");
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fcfaf6;
    background-image: url([[pix:theme|pattern]]);
    font-family: siteFont, Tahoma, sans-serif !important;
    font-size: 9pt;
    padding: 0;
}

h1 {
    color: #4c4c4c;
    font-size: 15pt;
}

h2 {
    font-size: 14pt;
    margin-bottom: 10px;
}

h3 {
    font-size: 13pt;
}

a {
    color: #0295e1;
}

a:hover, a:active {
    text-decoration: none;
}

tbody {
    border: 0;
}

.shadow {
    box-shadow: 0 5px 10px -2px #a9a9a9;
}

.bordered {
    border: 1px solid black;
    text-align: center;
}

#page {
    background: url([[pix:theme|wrapper]]) repeat-x;
}

#page-main {
    margin: 0 auto;
    padding-bottom: 70px;
    width: 1000px;
    position: relative;
}

#user-login-block {
    display: none;
    position: absolute;
    top: 28px;
    right: 208px;
    width: 237px;
    background: url([[pix:theme|login-form-top]]) 195px 0 no-repeat;
    z-index: 100;
    opacity: 0.9;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90); /*IE8*/
}

#user-login-block.visible {
    display: block;
}

#user-login-block a {
    text-decoration: underline;
}
#user-login-block a:hover {
    text-decoration: none;
}

#user-login-form {
    margin-top: 8px;
    padding: 15px;
    background-color: #434343;
}

#user-login-form div.bordered {
    padding: 18px 18px 10px 18px;
}

#user-login-form .item-list ul {
    margin: 0;
}

#user-login-form .form-item {
    margin-bottom: 19px;
}

#user-login-form .form-item input {
    padding: 2px;
    width: 167px;
    border: 1px solid black;
    font-style: italic;
}

#user-login-form .item-list ul {
    text-align: center;
    margin-top: 9px;
}

#user-login-form .item-list ul li {
    display: inline-block;
}

#user-login-form .item-list ul li.first {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #ffffff;
}

#user-login-form a {
    color: #ffffff;
}

.error-login {
    color: red;
    margin-bottom: 5px;
}

/*Header*/
#page-header {
    float: none !important;
    border: none !important;
    background: #dddddd url([[pix:theme|wrapper]]) repeat-x;
    height: 210px;
    position: relative;
}

#header {
    overflow: hidden;
    margin: 0 200px;
}

/*Top menu*/
#top-menu {
    background-color:#434343;
    height: 28px;
    border-radius: 0 0 25px 25px;
    text-align: center;
}

#top-menu a {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px dashed #ffffff;
}

#top-menu a:hover, a:active {
    border-bottom: none;
}

#login-block {
    float: right;
    margin-right: 23px;
    color: #ffffff;
    line-height: 25px;
    font-size: 9pt;
}

#login-block .logininfo {
    margin-left: 5px;
    display: inline-block;
}

#top-menu .headermenu {
    float: none;
    margin: 0;
}
/*End Top menu*/

#logo {
    width: 364px;
    height: 108px;/*210-28*/
    float: left;
    margin: 37px 18px;
}

/*End Header*/

/*Content*/
#region-main {
    background-color: #ffffff;
    padding: 18px;
    margin-bottom: 18px;
    min-height: 280px;
}

/*End Content*/


/*Footer*/
#page-footer {
    float: none;
    overflow: hidden;
    margin-bottom: 18px;
    min-height: 280px;
    width: inherit;
}

#footer {
    margin: 0 auto;
    height: 87px;
    position: relative;
    background: url([[pix:theme|pattern-footer]]);
    text-align: center;
}

#qr-code {
    position: absolute;
    left: 0;
    width: 87px;
    height: 87px;
    background-image: url([[pix:theme|qr-code]]);
}

#copyright {
    display: inline-block;
    font-size: 10pt;
    color: #4c4c4c;
    padding-top: 24px;
}

#copyright .block {
    padding: 10px 35px 0;
    border: none;
}

#social {
    position: absolute;
    top: 30px;
    right: 18px;
}

#social a {
    margin-right: 10px;
}

/*End Footer*/