* {
    padding: 0;
    margin: 0;
}

html, body, #wrapper {
    height: 100%;
}

body {
    background-color: #fcfaf6;
    background-image: url("../images/pattern.png");
    font-family: Tahoma, sans-serif;
    font-size: 9pt;
}

#wrapper {
    background: url("../images/wrapper.png") repeat-x;
}

#wrapper-main {
    margin: 0 auto;
    padding-bottom: 70px;
    width: 1000px;
}

/*Header*/
#header {
    background: #dddddd url("../images/wrapper.png") repeat-x;
    height: 210px;
}

/*Top menu*/
#top-menu {
    background-color:#434343;
    height: 28px;
    border-radius: 0 0 25px 25px;
    color: #ffffff;
    padding: 0 25px;
}
/*End Top menu*/

#logo {
    width: 364px;
    height: 108px;/*210-28*/
    background: url("../images/logo.png") repeat-x;
    float: left;
    margin: 37px 18px;
}

#quotation {
    width: 581px;
    height: 182px;/*210-28*/
    float: right;
    background-image: url("../images/quote.png");
}
/*End Header*/


/*Main menu*/
#main-menu {
    height: 83px; /*main 35px*/
   /* background: url("../images/main_menu.png") repeat-x;*/
}

#main-menu-links li{
    display: inline;
}

ul.sf-menu > li {
    height: 36px;
    line-height: 36px;
    background: url("../images/main_menu_li.png");
    border: 0px;
    border-right: 3px solid transparent;
    border-image: url("../images/main_menu_li_border.png") 3 36 stretch;
    /*-webkit-border-image:url("../images/main_menu_li_border.png"); /* Safari 5 */

    padding: 0 26px;
}
ul.sf-menu > li > a {
    color: #383838;
}

ul.sf-menu > li > ul{
    width: 1000px !important;
}

ul.sf-menu > li > ul > li{
    background-color: #464646;
    display: inline-block;
    width: auto !important;
}

ul.sf-menu > li > ul > li > a {
    color: #68dcfd;
}

/*End Main menu*/


/*Content*/
#wrapper-content {
    background-color: #ffffff;
    height: 554px;
    padding: 18px;
    margin-bottom: 18px;
}

#content {

    height: 356px;
    margin-bottom: 18px;
    background: #f8f8f8 url("../images/content.png") repeat-x; /* Старые браузеры */
    background: -moz-radial-gradient(ellipse, #ffffff, #ededed); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0, center center, 100%,
    color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome, Safari4+ */
    background: -webkit-radial-gradient(ellipse, #ffffff, #ededed); /* Chrome 10+, Safari 5.1+ */
    background: -o-radial-gradient(ellipse, #ffffff, #ededed); /* Opera 12 */
    background: -ms-radial-gradient(ellipse, #ffffff, #ededed); /* IE10 */
    background: radial-gradient(ellipse, #ffffff, #ededed); /* CSS3 */
    border-radius: 25px;
}

#video {
    background-color:yellow;
    float: left;
    width: 576px;
    height: 356px;
    border-radius: 25px;
}

#subscription {
    float: left;
    width: 388px;
    height: 356px;
}
/*End Content*/


/*Audios*/
#block-audios {
    background-color: red;
    height: 180px;
    border-radius: 25px;
}
/*End Audios*/


/*Photoreports*/
#wrapper-photoreports {
    background-color: blue;
    height: 269px;
    margin-bottom: 18px;
}

#header-photoreports {
    background-color: #464646;
    height: 26px; /*50-paddings*/
    padding: 12px 18px;/*12 =(50-26)/2*/
    color: #ffffff;
}
#header-photoreports h3 {
    display: inline-block;
    vertical-align: super;
}

#logo-small {
    margin-right: 10px;
}

#block-photoreports {
    background-color: red;
}

table#table-recent-photoreports {
    width: 1000px;
    border:none;
    border-spacing: 0;
}

table#table-recent-photoreports td{
    height: 219px;
}

.photoreport-title {
    padding-left: 15px ;
    height: 55px;
    background: url("../images/photoreport-title.png");
    line-height: 55px;
}
/*End Reports*/


/*Articles*/
#block-articles {
    background-color: white;
    margin-bottom: 18px;
}

.recent-article {
    width: 301px;
    padding: 15px 15px 15px 17px;
    background: white url("../images/article-left.png") repeat-y;
    vertical-align: top;
}

.recent-article h3{
    font-weight: bold;
    font-size: 9pt;
}
/*End Articles*/


/*Footer*/
#wrapper-footer {
    height: 87px;
}

#qr-code {
    float: left;
    width: 87px;
    height: 87px;
    background-image: url("../images/qr_code.png");
}

#footer {
    background: url("../images/pattern_footer.png");
    height: 87px;
    text-align: center;
    color: #4c4c4c;

}

#footer-text {
    padding-top: 35px;
    padding-right: 18px;
}


#social {
    width: 170px;
    height: 20px;
    background-color: yellow;
    float: right;
}

/*End Footer*/

div.clear {
    clear: both;
}


