* {
    padding: 0;
    margin: 0;
}

html, body, #wrapper {
    height: 100%;
}

body {
    background-color: #fcfaf6;
    background-image: url("../images/pattern.png");
    font-family: Tahoma, sans-serif;
    font-size: 9pt;
}

h3 {
    font-size: 13pt;
}

a {
    color: #0295e1;
}

tbody {
    border: 0px;
}

#wrapper {
    background: url("../images/wrapper.png") repeat-x;
}

#wrapper-main {
    margin: 0 auto;
    padding-bottom: 70px;
    width: 1000px;
}

/*Header*/
#header {
    background: #dddddd url("../images/wrapper.png") repeat-x;
    height: 210px;
}

/*Top menu*/
#top-menu {
    background-color:#434343;
    height: 28px;
    border-radius: 0 0 25px 25px;
    color: #ffffff;
    padding: 0 25px;
}
/*End Top menu*/

#logo {
    width: 364px;
    height: 108px;/*210-28*/
    float: left;
    margin: 37px 18px;
}

/*Quotation*/
#quotation {
    width: 581px;
    height: 182px;/*210-28*/
    float: right;
    position: relative;
}

#quotation-photo {
    position: absolute;
    top: 0;
    right: 0;
}

#quotation-quote {
    margin: 35px 190px 10px 40px;
    background-color: #ededed;
    padding: 18px;
    border-radius: 20px 20px 0 20px;
}

#quotation-person {
    margin-right: 190px;
    text-align: right;
}
#quotation-position {
    font-size: 8pt;
    color: #555555;
 }
/*End Quotation*/
/*End Header*/

#wrapper-main-menu {
    height: 83px; /*main 35px*/
    background-color: #464646;
}

ul.menu li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.menu li > a {
    display: block;
}

/*Main menu*/
#main-menu {
    height: 36px;
    background: url("../images/main-menu.png") repeat-x;
}

#main-menu ul.menu > li > a {
    line-height: 36px;
    background: url("../images/main-menu-li-border.png") 100% 0  no-repeat;

}

#main-menu ul.menu > li > a:hover,
#main-menu ul.menu > li.active > a {
    background: url("../images/main-menu-li-active.png") repeat-x;
    color: #ffffff;
}

#main-menu ul.menu > li > a {
    padding: 0 26px 0 23px;
    color: #383838;
}
/*Main menu*/

/*Sub menu*/
#main-menu-sub ul.menu {
    margin-left: 110px;
}

#main-menu-sub ul.menu > li {
    line-height: 47px;
    padding: 0 31px;
}

#main-menu-sub ul.menu > li > a {
    color: #68dcfd;
}
/*End Sub menu*/


/*Content*/
#wrapper-content {
    background-color: #ffffff;
    height: 554px;
    padding: 18px;
    margin-bottom: 18px;
}

#content {
    height: 356px;
    margin-bottom: 18px;
    background: #f8f8f8 url("../images/content.png") repeat-x; /* Старые браузеры */
    background: -moz-radial-gradient(ellipse, #ffffff, #ededed); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0, center center, 100%,
    color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome, Safari4+ */
    background: -webkit-radial-gradient(ellipse, #ffffff, #ededed); /* Chrome 10+, Safari 5.1+ */
    background: -o-radial-gradient(ellipse, #ffffff, #ededed); /* Opera 12 */
    background: -ms-radial-gradient(ellipse, #ffffff, #ededed); /* IE10 */
    background: radial-gradient(ellipse, #ffffff, #ededed); /* CSS3 */
    border-radius: 25px;
}

#video {
    background-color:#708090;
    float: left;
    width: 576px;
    height: 356px;
    border-radius: 25px;
}

video {
    border-radius: 25px;
    outline: none;
}

#subscription {
    float: left;
    width: 388px;
    height: 356px;
}
/*End Content*/


/*Audios*/
#block-audios {
    height: 180px;
}

.recent-audio {
    width: 330px;
    padding-left:19px;
}

.recent-audio:first-child {
    padding-left: 0px;
}
/*End Audios*/

.rounded img{
    border-radius: 25px;
}

/*Photoreports*/
#wrapper-photoreports {

    height: 269px;
    margin-bottom: 18px;
}

#header-photoreports {
    background-color: #464646;
    height: 26px; /*50-paddings*/
    padding: 12px 18px;/*12 =(50-26)/2*/
    color: #ffffff;
}
#header-photoreports h3 {
    display: inline;
    vertical-align: super;
}

#logo-small {
    display: inline;
    margin-right: 10px;
}

table#table-recent-photoreports {
    width: 1000px;
}

table#table-recent-photoreports .photoreport-content {
    position: relative;
    height: 164px;
}

table#table-recent-photoreports a {
    display: block;
    color: #292929;
    text-decoration: none;
}

.photoreport-date {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 55px;
    height: 45px;
    color: #464646;
    text-align: center;
    background: url("../images/photoreport-date.png");
    padding-top: 10px;
}

.photoreport-date .day {
    font-size: 17pt;
    line-height: 17px;
    font-weight: bold;
}

.photoreport-date .month {
    font-size: 12pt;
}

.photoreport-title {
    padding-left: 15px ;
    height: 55px;
    background: url("../images/photoreport-title.png");
    line-height: 55px;
}
#table-recent-photoreports td.views-row-first .photoreport-title{
    background: url("../images/photoreport-title-first.png");
}

.photoreport-title a, .photoreport-title a:visited  {
    color:  #464646;
    text-decoration: none;
}

.photoreport-title a:hover  {
    color:  #464646;
    text-decoration: underline;
}
/*End Reports*/


/*Articles*/
#block-articles {
    background-color: #ffffff;
    margin-bottom: 18px;
}


.recent-article {
    width: 301px;
    padding: 15px 15px 15px 17px;
    background: #ffffff url("../images/article-left.png") repeat-y;
    vertical-align: top;
}

.recent-article.views-row-first {
    background: #ffffff;
}

.recent-article h3 a, .recent-article h3 a:visited{
    font-weight: bold;
    font-size: 9pt;
    color: #171717;
    text-decoration: none;
}

.recent-article h3 a:hover{
    color: #171717;
    text-decoration: underline;
}

/*End Articles*/


/*Footer*/
#wrapper-footer {
    height: 87px;
    position: relative;

}

#qr-code {
    position: absolute;
    left: 0;
    width: 87px;
    height: 87px;
    background-image: url("../images/qr-code.png");
}

#footer {
    background: url("../images/pattern-footer.png");
    height: 53px;
    color: #4c4c4c;
    text-align: center;
    padding-top: 34px;
}

#social {
    position: absolute;
    top: 34px;
    right: 18px;
    width: 170px;
    height: 20px;
    background-color: yellow;
}

/*End Footer*/



